{% extends "myfarm/base.html" %}
{% load static %}

{% block content %}


<div>
    <h1>Motivation/Konzept:​</h1>
    <p>Um Transparenz in der Landwirtschaft zu schaffen - für Händler und Landwirte.
        Die wenigsten Landwirte sind im Netz aufzufinden. Daher sind Händler davon abhängig wen und wie viele sie in ihrem Umkreis kennen, die Ihnen helfen den geeigneten Landwirt zu finden, der die Produkte in der benötigten Menge zum gewünschten Preis anbietet.
        Die Landwirte haben das Problem, dass sie darauf
        angewiesen sind, von einem Händler kontaktiert zu
        werden, denn sie selber haben meist keine Zeit oder
        Kenntnisse oder gar die Mittel ihr eigenes Marketing im
        Internet zu machen. Zudem werden ihnen sehr oft nur
        unfaire Preise geboten, jedoch sind sie dazu gezwungen
        sich auf den Preis einzulassen. Ansonsten besteht die
        Gefahr, dass das der letzte Händler sein könnte der sie
        für einen Deal kontaktiert. Es würde zu keinem Verkauf führen, die Ernte geht schlecht und sie verschulden sich.
    </p>
    <p>
        Dafür muss die Landwirtschaft digitalisiert werden. Der Landwirt registriert sich und stellt seine Ernte ins Netz.
        Aus dieser Datenbank können dann Händler suchen und nach Preis, Entfernung und/oder Qualität sich für den besten Anbieter entscheiden.

    </p>
</div>

<div>
    <div>
        <div class="tbay-offcanvas-body">
            <nav id="tbay-mobile-menu-navbar" class="navbar navbar-offcanvas navbar-static">
                <div id="main-mobile-menu-mmenu" class="menu-category-menu-image-container">
                    <ul id="main-mobile-menu-mmenu-wrapper" class="menu"><li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2623"><a href="https://green-mart.online/product-category/fruits/"><i class="fa icofont-apple"></i>Fruits</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3203"><a href="https://green-mart.online/product-category/berries/"><i class="fa icofont-cherry"></i>Berries</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat current-menu-item active menu-item-2609"><a href="https://green-mart.online/product-category/vegetables/"><i class="fa icofont-broccoli"></i>Vegetables</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3211"><a href="/product-category/mushrooms/"><i class="fa icofont-mushroom"></i>Mushrooms</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3219"><a href="/product-category/salad/"><i class="fa icofont-plant"></i>Fresh herbs &#038; salad</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2610"><a href="https://green-mart.online/product-category/groats/"><i class="fa icofont-wheat"></i>Groats</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3212"><a href="https://green-mart.online/product-category/nuts/"><i class="fa icofont-beans"></i>Nuts &#038; dried fruits</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3213"><a href="https://green-mart.online/product-category/honey/"><i class="fa icofont-honey "></i>Honey &#038; Jams &#038; Sweets</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3215"><a href="https://green-mart.online/product-category/bakery/"><i class="fa icofont-bread"></i>Bakery</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-5704"><a href="https://green-mart.online/product-category/pasta/"><i class="fa icofont-noodles"></i>Pasta</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-5727"><a href="https://green-mart.online/product-category/sauces-canned-food/"><i class="fa icofont-ketchup"></i>Sauces &#038; canned food</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-6427"><a href="https://green-mart.online/product-category/canned/"><i class="fa icofont-jar"></i>Canned &#038; jarred foods</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3221"><a href="https://green-mart.online/product-category/spices/"><i class="fa icofont-salt-and-pepper"></i>Spices</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2622"><a href="https://green-mart.online/product-category/oil/"><i class="fa icofont-glue-oil"></i>Oil</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2608"><a href="https://green-mart.online/product-category/cheese/"><i class="fa icofont-cheese"></i>Cheese</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2624"><a href="https://green-mart.online/product-category/milk-products/"><i class="fa icofont-milk"></i>Milk &#038; dairy products</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3204"><a href="https://green-mart.online/product-category/beverages/"><i class="fa icofont-beverage"></i>Beverages &#038; Mixers</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3201"><a href="https://green-mart.online/product-category/juice/"><i class="fa icofont-juice"></i>Juice</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3218"><a href="https://green-mart.online/product-category/coffee/"><i class="fa icofont-coffee-pot"></i>Coffee</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3216"><a href="https://green-mart.online/product-category/tea/"><i class="fa icofont-tea-pot"></i>Tea</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3202"><a href="https://green-mart.online/product-category/water/"><i class="fa icofont-water-bottle"></i>Water</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-5603"><a href="https://green-mart.online/product-category/chocolate-and-sweets/"><i class="fa icofont-dna"></i>Chocolate &#038; sweets</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-10763"><a href="https://green-mart.online/product-category/household-goods/"><i class="fa icofont-mop"></i>Household goods</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-12193"><a href="https://green-mart.online/product-category/hygiene-products/"><i class="fa icofont-bathtub"></i>Hygiene products</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}
