{% extends "myfarm/base.html" %}

{% block content %}
<div>
    <!-- Sidebar Categories -->
    <div class="col-md-4">
        <div class="content-section" style="background-color: mediumaquamarine">
            <h3>Categories</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="/product-category/fruits/">Fruits</a></li>
                <li class="list-group-item list-group-item-light">Berries</li>
                <li class="list-group-item list-group-item-light">Vegetables</li>
                <li class="list-group-item list-group-item-light">Mushrooms</li>
                <li class="list-group-item list-group-item-light">Rice</li>
                <li class="list-group-item list-group-item-light">Tea</li>
                <li class="list-group-item list-group-item-light">Nuts</li>
                <li class="list-group-item list-group-item-light">oil</li>
            </ul>
            </p>
        </div>
    </div>

    <div>
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Filter </legend>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasic">Select Place/City</label>
                    <div class="col-md-4">
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                </div>

                <!-- Button Drop Down -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="buttondropdown">Select Types of Product</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="placeholder" type="text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Option one</a></li>
                                    <li><a href="#">Option two</a></li>
                                    <li><a href="#">Option three</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Multiple Checkboxes -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="checkboxes">Special Requests</label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label for="checkboxes-0">
                                <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                GMO Free
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="checkboxes-1">
                                <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                Organic
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton">Search</label>
                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div>
    <div>
        <div class="tbay-offcanvas-body">
            <nav id="tbay-mobile-menu-navbar" class="navbar navbar-offcanvas navbar-static">
                <div id="main-mobile-menu-mmenu" class="menu-category-menu-image-container">
                    <ul id="main-mobile-menu-mmenu-wrapper" class="menu"><li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2623"><a href="https://green-mart.online/product-category/fruits/"><i class="fa icofont-apple"></i>Fruits</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3203"><a href="https://green-mart.online/product-category/berries/"><i class="fa icofont-cherry"></i>Berries</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat current-menu-item active menu-item-2609"><a href="https://green-mart.online/product-category/vegetables/"><i class="fa icofont-broccoli"></i>Vegetables</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3211"><a href="/product-category/mushrooms/"><i class="fa icofont-mushroom"></i>Mushrooms</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3219"><a href="/product-category/salad/"><i class="fa icofont-plant"></i>Fresh herbs &#038; salad</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2610"><a href="https://green-mart.online/product-category/groats/"><i class="fa icofont-wheat"></i>Groats</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3212"><a href="https://green-mart.online/product-category/nuts/"><i class="fa icofont-beans"></i>Nuts &#038; dried fruits</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3213"><a href="https://green-mart.online/product-category/honey/"><i class="fa icofont-honey "></i>Honey &#038; Jams &#038; Sweets</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3215"><a href="https://green-mart.online/product-category/bakery/"><i class="fa icofont-bread"></i>Bakery</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-5704"><a href="https://green-mart.online/product-category/pasta/"><i class="fa icofont-noodles"></i>Pasta</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-5727"><a href="https://green-mart.online/product-category/sauces-canned-food/"><i class="fa icofont-ketchup"></i>Sauces &#038; canned food</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-6427"><a href="https://green-mart.online/product-category/canned/"><i class="fa icofont-jar"></i>Canned &#038; jarred foods</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3221"><a href="https://green-mart.online/product-category/spices/"><i class="fa icofont-salt-and-pepper"></i>Spices</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2622"><a href="https://green-mart.online/product-category/oil/"><i class="fa icofont-glue-oil"></i>Oil</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2608"><a href="https://green-mart.online/product-category/cheese/"><i class="fa icofont-cheese"></i>Cheese</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-2624"><a href="https://green-mart.online/product-category/milk-products/"><i class="fa icofont-milk"></i>Milk &#038; dairy products</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3204"><a href="https://green-mart.online/product-category/beverages/"><i class="fa icofont-beverage"></i>Beverages &#038; Mixers</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3201"><a href="https://green-mart.online/product-category/juice/"><i class="fa icofont-juice"></i>Juice</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3218"><a href="https://green-mart.online/product-category/coffee/"><i class="fa icofont-coffee-pot"></i>Coffee</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3216"><a href="https://green-mart.online/product-category/tea/"><i class="fa icofont-tea-pot"></i>Tea</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-3202"><a href="https://green-mart.online/product-category/water/"><i class="fa icofont-water-bottle"></i>Water</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-5603"><a href="https://green-mart.online/product-category/chocolate-and-sweets/"><i class="fa icofont-dna"></i>Chocolate &#038; sweets</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-10763"><a href="https://green-mart.online/product-category/household-goods/"><i class="fa icofont-mop"></i>Household goods</a></li>
                        <li class=" menu-item menu-item-type-taxonomy menu-item-object-product_cat  menu-item-12193"><a href="https://green-mart.online/product-category/hygiene-products/"><i class="fa icofont-bathtub"></i>Hygiene products</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Mushrooms</li>
    </ul>
</div>
{% endblock content %}
